<div style="color:red" ng-show="isvalid">
	<ul>
		<li>Either username or password is incorrect!</li>
	</ul>
</div>
<form name="logonform">
	<table>
		<tr>
			<td>User Name :</td>
			<td><input type="text" ng-model="username" required></td>
		</tr>
		<tr>
			<td>Password :</td>
			<td><input type="password" ng-model="password" required></td>
		</tr>
		<tr>
			<td><button ng-click="logon()" ng-disabled="logonform.$invalid">Submit</button></td>
			<td><button ng-click="direct()">New User</button></td>
		</tr>
	</table>
</form>